apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - deployment.yaml

commonLabels:
  app: cluster-autoscaler
  managed-by: kustomize

# Configuration for replacing placeholders
# These will be replaced by the deployment script with actual values
replacements:
  - source:
      kind: ConfigMap
      name: cluster-config
      fieldPath: data.clusterName
    targets:
      - select:
          kind: Deployment
          name: cluster-autoscaler
        fieldPaths:
          - spec.template.spec.containers.[name=cluster-autoscaler].command
  - source:
      kind: ConfigMap
      name: cluster-config
      fieldPath: data.autoscalerRoleArn
    targets:
      - select:
          kind: ServiceAccount
          name: cluster-autoscaler
        fieldPaths:
          - metadata.annotations.[eks.amazonaws.com/role-arn]
