apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-autoscaler
  namespace: kube-system
  labels:
    app: cluster-autoscaler
  annotations:
    # IRSA annotation - IAM role ARN will be injected by CDK
    # Requirement 8.1: Cluster Autoscaler SHALL use IRSA for AWS API access
    eks.amazonaws.com/role-arn: arn:aws:iam::450683699755:role/jenkins-eks-cluster-autoscaler-role
