apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - daemonset.yaml

commonLabels:
  app: aws-node-termination-handler
  managed-by: kustomize
