apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins
  namespace: jenkins
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/healthcheck-path: /login
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    alb.ingress.kubernetes.io/tags: Environment=production,Application=jenkins
    alb.ingress.kubernetes.io/subnets: subnet-058e81b188acbfd25,subnet-0f4c8c1cf98451d1f
    alb.ingress.kubernetes.io/inbound-cidrs: 86.40.16.213/32,54.0.0.0/8,16.0.0.0/8,23.0.0.0/8,27.0.0.0/8,43.0.0.0/8,45.0.0.0/8,46.0.0.0/8,50.0.0.0/8,51.0.0.0/8,63.0.0.0/8,64.0.0.0/8,65.0.0.0/8,66.0.0.0/8,67.0.0.0/8,68.0.0.0/8,69.0.0.0/8,70.0.0.0/8,71.0.0.0/8,72.0.0.0/8,75.0.0.0/8,76.0.0.0/8,96.0.0.0/8,98.0.0.0/8,99.0.0.0/8,100.0.0.0/8,103.0.0.0/8,104.0.0.0/8,107.0.0.0/8,108.0.0.0/8,130.0.0.0/8,150.0.0.0/8,156.0.0.0/8,157.0.0.0/8,158.0.0.0/8,159.0.0.0/8,160.0.0.0/8,161.0.0.0/8,162.0.0.0/8,172.0.0.0/8,176.0.0.0/8,184.0.0.0/8,185.0.0.0/8,192.0.0.0/8,198.0.0.0/8,199.0.0.0/8,204.0.0.0/8,205.0.0.0/8,206.0.0.0/8,207.0.0.0/8,208.0.0.0/8,216.0.0.0/8
spec:
  ingressClassName: alb
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins
            port:
              number: 8080
