apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins-controller
  namespace: jenkins
  annotations:
    # IRSA annotation - allows this service account to assume the Jenkins controller IAM role
    # This annotation is automatically recognized by the EKS pod identity webhook
    # IMPORTANT: Replace ACCOUNT_ID with your AWS account ID before applying
    # To get the role ARN, run: aws cloudformation describe-stacks --stack-name JenkinsEksStack --query "Stacks[0].Outputs[?ExportName=='JenkinsEksControllerRoleArn'].OutputValue" --output text --region us-west-2
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/jenkins-eks-controller-role
  labels:
    app: jenkins-controller
    component: serviceaccount
