apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins-controller
  namespace: jenkins
  annotations:
    # IRSA annotation - allows this service account to assume the Jenkins controller IAM role
    # This annotation is automatically recognized by the EKS pod identity webhook
    # The IAM role ARN should be replaced with the actual role ARN from CDK stack output
    # To get the role ARN, run: aws cloudformation describe-stacks --stack-name <stack-name> --query "Stacks[0].Outputs[?ExportName=='JenkinsEksControllerRoleArn'].OutputValue" --output text
    eks.amazonaws.com/role-arn: arn:aws:iam::450683699755:role/jenkins-eks-controller-role
  labels:
    app: jenkins-controller
    component: serviceaccount
