# Kustomization file for EFS CSI Driver deployment
# This file allows deploying all EFS CSI Driver components with a single command
#
# Usage:
#   kubectl apply -k k8s/efs-csi-driver/
#
# Requirements: 6.8 - EKS cluster has EFS CSI Driver installed for dynamic volume provisioning

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - csi-driver.yaml
  - controller-deployment.yaml
  - node-daemonset.yaml
  - storageclass.yaml

commonLabels:
  app.kubernetes.io/name: aws-efs-csi-driver
  app.kubernetes.io/managed-by: kustomize

# Add annotations to all resources
commonAnnotations:
  description: "AWS EFS CSI Driver for Jenkins EKS Cluster"
  requirements: "6.8"
