# Service Account for EFS CSI Driver Controller
# This service account is used by the EFS CSI Driver controller to interact with the Kubernetes API
# and assume the IAM role via IRSA (IAM Roles for Service Accounts)
#
# Requirements: 6.8 - EKS cluster has EFS CSI Driver installed for dynamic volume provisioning
apiVersion: v1
kind: ServiceAccount
metadata:
  name: efs-csi-controller-sa
  namespace: kube-system
  labels:
    app.kubernetes.io/name: aws-efs-csi-driver
    app.kubernetes.io/component: controller
  annotations:
    # IRSA annotation - allows this service account to assume the EFS CSI Driver IAM role
    # This annotation should be updated with the actual IAM role ARN from the CDK stack output
    # The IAM role ARN is exported as 'JenkinsEksEfsCsiDriverRoleArn'
    # Format: eks.amazonaws.com/role-arn: arn:aws:iam::<account-id>:role/jenkins-eks-efs-csi-driver-role
    eks.amazonaws.com/role-arn: arn:aws:iam::450683699755:role/jenkins-eks-efs-csi-driver-role
---
# Service Account for EFS CSI Driver Node Plugin
# This service account is used by the EFS CSI Driver node plugin DaemonSet
apiVersion: v1
kind: ServiceAccount
metadata:
  name: efs-csi-node-sa
  namespace: kube-system
  labels:
    app.kubernetes.io/name: aws-efs-csi-driver
    app.kubernetes.io/component: node
