# Service Account for EFS CSI Driver Controller
# This service account is used by the EFS CSI Driver controller to interact with the Kubernetes API
# and assume the IAM role via IRSA (IAM Roles for Service Accounts)
#
# Requirements: 6.8 - EKS cluster has EFS CSI Driver installed for dynamic volume provisioning
apiVersion: v1
kind: ServiceAccount
metadata:
  name: efs-csi-controller-sa
  namespace: kube-system
  labels:
    app.kubernetes.io/name: aws-efs-csi-driver
    app.kubernetes.io/component: controller
  annotations:
    # IRSA annotation - allows this service account to assume the EFS CSI Driver IAM role
    # IMPORTANT: Replace ACCOUNT_ID with your AWS account ID before applying
    # To get the role ARN, run: aws cloudformation describe-stacks --stack-name JenkinsEksStack --query "Stacks[0].Outputs[?ExportName=='JenkinsEksEfsCsiDriverRoleArn'].OutputValue" --output text --region us-west-2
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/jenkins-eks-efs-csi-driver-role
---
# Service Account for EFS CSI Driver Node Plugin
# This service account is used by the EFS CSI Driver node plugin DaemonSet
apiVersion: v1
kind: ServiceAccount
metadata:
  name: efs-csi-node-sa
  namespace: kube-system
  labels:
    app.kubernetes.io/name: aws-efs-csi-driver
    app.kubernetes.io/component: node
